<%= form_for(@havy_table) do |f| %>
  <% if @havy_table.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@havy_table.errors.count, "error") %> prohibited this havy_table from being saved:</h2>

      <ul>
      <% @havy_table.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.file_field :content %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
