<h1>Listing havy_tables</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @havy_tables.each do |havy_table| %>
  <tr>
    <td><%= havy_table.name %></td>
    <td><%= link_to 'Show', havy_table %></td>
    <td><%= link_to 'Edit', edit_havy_table_path(havy_table) %></td>
    <td><%= link_to 'Destroy', havy_table, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Havy table', new_havy_table_path %>
