<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @havy_table.name %>
</p>

<p>
  <b>Content:</b>
  <%= @havy_table.content %>
</p>


<%= link_to 'Edit', edit_havy_table_path(@havy_table) %> |
<%= link_to 'Back', havy_tables_path %>
